.form-check{
    margin-right: 14px;
    margin-bottom: 10px;
}
.btn{
    margin-top: 10px;
}
.form-text{
    margin-bottom: 10px;
}
.image{
    /*width: 10%;*/
    margin-right: 5px;
    margin-bottom: 10px;
}

#upload-file{
    display: none;
}
/* adiciona botão de fechar nas imagens*/
.wrapper {
    position: relative;
    width: 10%;
}
.wrapper-galery {
    position: relative;
    width: 40%;
}
.close-button{
    right:5px;
    position: absolute;    
}
.close{
    opacity: 6;
    cursor: pointer;
}

.btn-upload{
    margin-bottom: 0;
}

.img-actions{
    margin-bottom: 10px;
}

.img-actions > label{
    margin-right: 10px;
}
