.status-red{
    color: red;
}

.status-black{
    color: black;
}

.desable-btn{
    pointer-events: none;
    cursor: default;
    color: grey;
}

.enable-btn{
    color:red;
}

.center-btn{
    margin: 15px;
}

.container{
    padding-top: 20px;
    padding-bottom: 100px;
}